.border {
  width: fit-content;
  display: inline-block;
  overflow: hidden;
}

.introduction {
  display: flex;
  justify-content: space-between;
  background: $white;
  border-radius: 25px;
  margin: 0px 220px;
  box-shadow: 0px 0px 15px rgb(69, 69, 69);
}

.skills {
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
  align-items: center;
  padding: 20px;
}

.info {
  display: flex;

  svg {
    margin-right: 10px;
  }
}

.border {
  display: flex;
  align-items: center;
  margin: 20px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  overflow: hidden;
  z-index: 3;
}

img {
  width: 200px;
  height: 200px;
  background-size: 100%;
  background-position: center center;
  transition: ease-in-out 0.6s;
}

img:hover {
  transform: scale(1.1);
  transition: ease-in-out 0.6s;
}
