@import "./settings";
@import "./pages/socials";
@import "./pages/about";
@import "./pages/home";
@import "./components/navigation";
@import "./components/personalInfo";
@import "./components/skill";
@import "./components/articleWrap";
